.img {
    transition: width 0.5s;
    transition: height 0.5s;
    width: 90%;
}
.containerHero{
    padding: 24px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.textDescription {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 44px auto 5px auto;
    font-family: 'Inconsolata', monospace !important; 
}
button{
    
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #ffab1c;
    padding: 8px 24px;
    font-weight: 900;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 10px 30px -10px #ffab1d8a;
  
}
button:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-family: "Inconsolata", monospace;
}
.container{
    margin: 40px auto;
  
}

@media (min-width: 767px) {
    .img {
        width: 680px;
    }
   
}